.layout-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.page-content {
    flex-grow: 1;
}

.top-bar {
    width:100%;
    padding: 4px;
    text-align: center;
    background: linear-gradient(to right, plum, lightblue);
}

.top-bar h1 {
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px 8px black;
}