<div class ="form-container">
    <form #generateForm = "ngForm" (ngSubmit)="onSave()">
    <div class="field">
        <label>User Id</label>
        <div class = "control">
            <input type="text" name="user" class="input" [(ngModel)]="User" required/>
        </div>
    </div>

    <div class="field">
        <label>DateTime</label>
        <div class = "control">
            <input type="text" name="mydate" placeholder="dd-MON-yy" class="input" [(ngModel)] = "MyDate" required/>
        </div>
    </div>

    <div>
        <button type="button" class="btn" (click) = "onSave()" [disabled]="!generateForm.valid">Salveaza</button> 
    </div>
</form>
</div>
<div>
    <app-show-pass #showPass *ngIf="isVisible"></app-show-pass>
</div>


    