.form-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
}

label {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(245, 12, 233);
}